
      <header>
        <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">
        <h1 class="view"><a href="/">Sachin Tyagi</a></h1>
        <p>Tech, data, politics, life</p>
        <p>
          <a href="https://twitter.com/sachin_tyagi">Twitter</a> •
          <a href="https://github.com/sachintyagi22">GitHub</a> •
          <a href="https://www.linkedin.com/in/sachin-tyagi">LinkedIn</a> •
          <a href="/feed.xml">RSS</a>
        </p>
        <hr/>
        
      </header>
